{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
	"rules": { 
    "@typescript-eslint/indent": [
	      "error",
	      2
      ],
      "@typescript-eslint/quotes": [
	      "warn",
	      "single"
      ],
      "require-atomic-updates": "off",
      "no-unused-labels": "warn"
    }
}