web-register {
  .signin-container {
    display: grid;
    place-items: center;
    height: 100vh;

    .form-signin {
      width: 100%;
      max-width: 330px;
      padding: 15px;
      margin: auto;
      text-align: center;
  
      .checkbox {
        font-weight: 400;
      }

      .form-floating:focus-within {
        z-index: 2;
      }

      .form-floating {
        margin-bottom: 10px;
      }

      // input[type="email"] {
      //   margin-bottom: -1px;
      //   border-bottom-right-radius: 0;
      //   border-bottom-left-radius: 0;
      // }

      // input[type="password"] {
      //   margin-bottom: 10px;
      //   border-top-left-radius: 0;
      //   border-top-right-radius: 0;
      // }
    }
  }
}