web-calendar {
  margin: 0 auto;
  display: block;
  height: 100%;

  .form-check-input, .form-check-label, .form-check {
    cursor: pointer;
  }

  .row {
    height: 100%;
    display: flex;

    .room-filter {
      width: auto;
    }
    
    .calendar-section {
      height: 100%;
      flex: 1;
  
      #calendar {
        height: 100%;
      }
    }
  }



  .tooltip-inner {
    white-space: pre !important;
    max-width: none !important;
  }
}